[user]
	email = 80340739+JaydotMurf@users.noreply.github.com
	name = Jerraill D. Murphy

[includeIf "gitdir:~/dev/work/"]
    path = ~/.gitconfig-work

[includeIf "gitdir:~/dev/personal/openclaw/"]
    path = ~/.gitconfig-openclaw

[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
